body{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Arial, sans-serif;
}

.Buttons {

	margin: 10px;
	padding: 5px;

	display: inline-block;
}

.button1{

	width: 180px;
    height: 80px;

    align-content: left;
    cursor: grab;
}

.button1 button{

	font-size: 50px;
	padding: 25px 50px;


}

#Brand {

	font-size: 30px;

	width: 360px;
	height: 50px;

}

/* NewBrand.html css */

#BrandNew {

	font-size: 30px;

	width: 360px;
	height: 50px;

	position: left;
}

.Selections ul{

	display: inline-block;

	list-style-type: none;

	margin: 30px;
	padding: 10px;

	font-size: 30px;
}

.Selections li {

	margin: 10px;
	margin-left: 25%;
	padding: 0px;
    text-align: left;
}

.Selections input {

	width: 30px;
	height: 30px;

	position: relative;	
	vertical-align: center;	

		
}

.Quality {

	border: 1px solid black;
  	padding-right: 0px;
  	padding-left: 0px;
  	width: 300px;
  	border-radius: 5px;
}

.Type {

	border: 1px solid black;
  	padding-right: 0px;
  	padding-left: 0px;
  	width: 300px;
  	border-radius: 5px;

  	list-style-type: none;
}

.Submit {

	width: 180px;
    height: 80px;

    align-content: left;

	background-color: #66BB6A;
	cursor: grab;
}

.Submit button {

	font-size: 50px;
	padding: 25px 50px;

}
